.header {
  width: 100%;
  height: 100px;
  // background: radial-gradient(
  //   circle,
  //   rgba(152, 15, 119, 1) 0%,
  //   rgba(47, 2, 160, 1) 61%,
  //   rgba(104, 4, 178, 1) 100%
  // );
  background-image: url("../../../assets/Home/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  &__nav {
    margin-top: 12px;
    margin-left: auto;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      height: 70px;
      width: 70px;
      background-image: url("../../../assets/Home/logo-removebg.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 12px;
      margin-right: 3em;
    }

    &__menuMobile {
      display: none;
    }

    &__pages {
      width: 60%;
      text-align: center;
      margin-right: 5em;

      & a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        margin-right: 2em;
        cursor: pointer;
        font-weight: 300;
      
      }
      & a:hover {
        border-bottom: 2px solid white;
      }
    }

    &__inf {
      margin-left: auto;
      margin-right: auto;    
      text-align: center;
  
      &__logo {
        display: flex;
        margin-bottom: 12px;       
  
        &__insta {
          height: 50px;
          width: 50px;
          background-image: url("../../../assets/Home/logoInsta.png");
          background-size: cover;
          background-repeat: no-repeat;
          margin-right: 5em;
          cursor: pointer;
        }
  
        &__whats {
          height: 50px;
          width: 50px;
          background-image: url("../../../assets/Home/whatsapp-logo-.png");
          background-size: cover;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .header {
    &__nav {
      justify-content: space-around;

      &__menuMobileIcon {
        font-size: 4em;
      }

      &__pages {
        display: none;
      }
    }
    &__inf {
      display: none;
    }
  }
}

@media (min-width: 960px) {
  .header__nav__menuMobileIcon {
    display: none;
  }
}

@media (max-width: 960px) {
  .header {
    height: 100px;

    &__nav {
      width: 100%;
      margin-left: 0;

      &__menuMobile {
        position: absolute;
        width: 100%;
        height: 400px;
        top: 0;
        background: rgb(0 0 0 / 83%);
        display: none;
        flex-direction: column;
        transition: all 0.3s ease-in-out;


        &__out {
          margin-left: 80%;
          font-size: 3rem;
          color: #ff00e0;
        }

        & ul {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          list-style: none;
          text-align: center;
          padding: 0;

          & li {
            margin: 15px 0;

            & a {
              color: none;
              text-decoration: none;
              font-size: 30px;
              font-weight: 500;
              padding: 5px 30px;
              color: #fff;
              border-radius: 50px;
              background: #000;
              position: relative;
              line-height: 50px;
              transition: all 0.3s ease;
            }

            & a:after{
              position: absolute;
              content: "";
              background: #fff;
              background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
              /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
              width: 104%;
              height: 110%;
              left: -2%;
              top: -5%; /* if the font is 'Oswald'*/
              border-radius: 50px;
              transform: scaleY(0);
              z-index: -1;
              animation: rotate 1.5s linear infinite;
              transition: transform 0.3s ease;
            }

            & a:hover:after{
              transform: scaleY(1);
            }

            & a:hover{
              color: #fff;
            }
          }
        }
      }

      &__logo {
        height: 80px;
        width: 80px;
      }
    }
  }
}

.display_flex {
  display: flex !important;
}

.activedScreen {
  border-bottom: 2px solid white;
}

.desativedScreen {
  border-bottom: none;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
