/* Layout Responsivo */

@media only screen and (max-width: 979px) {

/*.row-fluid .conteudo, */.row-fluid .produto { width: 100%; margin: 0; }
/*.row-fluid .coluna, */.pagina-produto .row-fluid .coluna, ul.acoes-conta > li i, .carrinho span span, .carrinho span b, .carrinho span b span { display: none; }
.carrinho span b { line-height: 24px; }
.carrinho span b:before { content: "Produto(s)"; text-indent: 0; }
.acao-editar > div > * { margin: 0 0 10px 10px; }

.sugestoes .imagem-produto { margin: 0; text-align: center; }
.sugestoes .info-produto { background-color: rgba(255, 2555, 255, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); float: none; width: auto; position: absolute; bottom: 1px; right: 1px; z-index: 10; text-align: right; }
.sugestoes .acoes-compra, .sugestoes .com-promocao .preco-venda { display: none; }
.sugestoes .imagem-produto img { max-width: 100%; max-height: 100%; }
.sugestoes .preco-produto, .sugestoes .nome-produto { border: none; height: auto; }
.sugestoes .preco-a-partir span { display: none; }

#rodape .redes-sociais { position: static; width: auto; background: transparent; box-shadow: none; border: none; }
#rodape .redes-sociais .titulo { display: none; }
#rodape .redes-sociais ul li { border: none; }

}

@media (min-width: 768px) and (max-width: 979px) {

#formularioCheckout > div > .span4 { width: 100%; margin: 0; }
#formularioCheckout > div > .span4 + div { width: 48.61878453038674%; }
#formularioCheckout > div > .span4:last-child { margin-left: 2.7624309392265194%; }

}


@media only screen and (max-width: 767px) {

body { font-size: 14px; padding: 0; }
h1, h2, h3 { line-height: normal; }
#cabecalho { padding-top: 55px; }
.carrinho-checkout #cabecalho { padding-top: 0; }
.logo a { height: 80px; }
.busca { margin: 0 60px 0 0; padding: 0; border: none; background: none; }
.busca input { width: 91%; padding: 10px; }
.busca .botao-busca { height: auto; top: 0; right: -4px; line-height: 28px; }
.conteiner .logo { margin: 0 0 20px; }
.carrinho-checkout .conteiner .logo { margin: 0; }
.carrinho { width: 50%; float: left; }
.info-banner, .menu.superior .nivel-um, .menu.lateral .nivel-um, .acoes-conta li a span, .carrinho:hover .carrinho-interno, .barra-inicial { display: none; }
.conteudo-topo .busca-mobile { overflow: hidden; padding: 10px; background-color: rgba(0, 0, 0, 0.08); border-radius: 6px; }
.conteudo-topo .busca-mobile .atalho-menu { float: right; line-height: 28px; }
.conteudo-topo .busca-mobile.hide-menu .atalho-menu { display: none !important; }
.conteudo-topo .busca-mobile.hide-menu .busca { margin-right: 5px; }
.canais-contato ul li { border: none; }
.phone-pullleft { float: left; }
.caixa-sombreada { padding: 10px; }
.alert { font-size: 20px; }

input[type="text"], input[type="password"], input[type="email"], textarea, .cadastro input[type="text"], .cadastro input[type="password"], .cadastro select, .ordenar-listagem label { font-size: 16px; height: auto; padding: 10px; }
.ordenar-listagem label { line-height: 22px; }
select, input[type="file"] { height: 44px; line-height: 44px; }
.input-append .btn, .input-prepend .btn { line-height: 34px; }
.input-append .add-on { font-size: 18px; padding: 10px 10px 12px; }
.banner .flex-control-nav { display: none; }
.row-fluid .controls-row [class*="span"] + [class*="span"] { margin-left: 0; }

.row-fluid .conteudo { width: 100%; margin: 0; }
.row-fluid .coluna { display: none; }

.cep label { line-height: 44px; font-size: 14px; }
/*.cep label { font-size: 14px; font-weight: 600; margin-top: 20px; }
.cep form .form-inline > a { display: block; margin-top: 10px; }*/

.menu.lateral { background-color: rgba(0, 0, 0, 0.09); }
.menu.superior, .menu.lateral { margin: 0; padding: 0; }
.menu.superior .titulo, .menu.lateral .titulo { margin: 10px 0; }
.menu.superior .nivel-um.active, .menu.superior .nivel-dois,
.menu.lateral .nivel-um.active, .menu.lateral .nivel-dois { display: block; }
.menu.superior .nivel-um, .menu.lateral .nivel-um { margin: 10px 0 0; border: 2px solid rgba(0, 0, 0, 0.05); }
.menu.superior .nivel-um > li, .menu.lateral .nivel-um > li { float: none; border-width: 0 0 1px; border-color: rgba(0, 0, 0, 0.1); }
.menu.superior .nivel-um > li:hover { margin: 0; border-top: none; }
.menu.superior .nivel-um .titulo, .menu.lateral .nivel-um .titulo { font-size: 18px; }
.menu.superior .nivel-dois, .menu.lateral .nivel-dois { position: static; background: none; box-shadow: none; padding: 0; }
.menu.superior .nivel-dois li, .menu.lateral .nivel-dois li { padding: 0 10px; border: none; }
.menu.superior .nivel-dois li:hover > .nivel-tres, .menu.superior .nivel-um a i,
.menu.lateral .nivel-dois li:hover > .nivel-tres, .menu.lateral .nivel-um a i { display: none; }
.menu.superior .nivel-dois li a, .menu.lateral .nivel-dois li a { font-size: 14px; }

.menu.lateral .nivel-um > li { margin: 0; }
.menu.lateral .nivel-um > li > a { background: none; box-shadow: none; }
.menu.lateral .com-filho.borda-principal { border-width: 0 0 1px; }

.listagem-linha li { margin-top: 20px; }
.listagem-linha li:first-child { margin-top: 0; }
.listagem .listagem-linha li { border: none; }
.listagem .listagem-item { margin: 0; }
.listagem .listagem-item:after { display: table; content:""; clear: both; }
.listagem.com-caixa .listagem-item { background: none; }
.listagem.com-caixa .listagem-item:active, .listagem.com-caixa .listagem-item:hover { border-color: rgba(0, 0, 0, 0.10); }
.listagem .listagem-item .nome-produto { font-size: 16px; font-weight: 600; line-height: normal; margin-bottom: 15px; }
.listagem .span3 .imagem-produto, .listagem .span4 .imagem-produto, .listagem .span6 .imagem-produto { height: 200px; }
.listagem .span3 .listagem-item .nome-produto, .listagem .span4 .listagem-item .nome-produto, .listagem .span6 .listagem-item .nome-produto { min-height: 0; }
.listagem > .titulo { font-size: 24px; }

.listagem .listagem-item .imagem-produto, .listagem .listagem-item .info-produto { float: left; width: 48%; }
.listagem .listagem-item .info-produto { margin-left: 1%; }
.listagem.com-caixa .listagem-item .imagem-produto { border: none; }
.listagem .listagem-item .acoes-produto-responsiva { margin: 0 0 0 210px; }
.listagem.aproveite-tambem .preco-parcela { font-size: 14px; }

/*.listagem-item .acoes-produto-responsiva i { margin: 0; font-size: 24px; }
.listagem-item .acoes-produto-responsiva .botao { padding: 0; width: 50px; height: 50px; line-height: 55px; } */

.acoes-produto-responsiva { text-align: right; }
.acoes-produto-responsiva .tag-comprar { display: inline-block; margin: 5px -10px 10px 0; line-height: 40px; padding: 0 15px;}
.acoes-produto-responsiva .tag-comprar:hover { text-decoration: none; }
.acoes-produto-responsiva .tag-comprar i { font-size: 24px; position: relative; top: 2px; }
.acoes-produto-responsiva .tag-comprar span { font-size: 18px; }

.preco-produto .preco-venda { font-size: 16px; }
.preco-produto strong.titulo, .resumo-compra .preco-produto .titulo, .resumo-compra .total strong { font-size: 22px; }
.carrinho > a strong { font-size: 20px; }

#rodape .titulo { font-size: 22px; padding: 10px 0; margin: 0 0 10px; }
#rodape .institucional ul { margin-bottom: 30px; }
.links-rodape ul li a { font-size: 16px; line-height: 30px; }
#rodape .redes-sociais ul { margin-bottom: 0; }
.direitos-reservados .span9 + div img { max-width: 120px; }

.produto .principal > div { padding: 0 0 15px; margin: 0 0 15px;  border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
.parcelas-produto .tab-content ul { width: 100%; }
.parcelas-produto .tab-content ul li { line-height: 25px; }
.parcelas-produto .tab-content ul li span { font-size: 15px; }
.produto .nome-produto { font-size: 20px; }
.produto .codigo-produto { border: none; }
.acoes-produto .preco-produto, .produto-compartilhar { float: none; padding: 0 0 15px; margin:0 0 15px; border: 1px solid rgba(0, 0, 0, 0.1); border-width: 0 0 2px; }
.produto .acoes-produto .comprar { float: none; }
.produto .acoes-produto .preco-produto .titulo { font-size: 26px; }
.produto .acoes-produto .preco-produto .preco-venda { font-size: 18px; }
.produto .acoes-produto .preco-parcela { font-size: 16px; }
.produto .comprar .botao-comprar { width: 100%; padding: 0; line-height: 50px; }
.atributos div > span { font-size: 16px; }
.produto .conteiner-imagem #abreZoom { display: none; }
.produto-compartilhar { text-align: center; }
.produto-compartilhar .lista-redes { display: inline-block; float: none; }
.produto-compartilhar .fb-compartilhar { margin-top: 5px; }
.produto .conteiner-imagem > div { border: 5px solid rgba(0, 0, 0, 0.035); }

.atributos div ul li { margin-right: 15px; margin-bottom: 15px; }
.atributo-cor a span { border-width: 0 0 35px 35px; }

.popup-sob-consulta { position: relative; }
.popup-sob-consulta .controls input { width: 94%; }

.breadcrumbs { border-width: 2px 0; }
.breadcrumbs ul li { display: none; border: none; }
.breadcrumbs ul li a { font-weight: 700; font-size: 16px; }
.breadcrumbs ul li i { font-size: 20px; padding: 0; }
.breadcrumbs ul li i.icon-home { display: none; }
.breadcrumbs ul li:nth-last-child(2) { display: list-item; }

.info-principal-produto .breadcrumbs ul li { display: block; }

#corpo .conteiner > div { margin: 0 0 15px; }
.cabecalho-interno .titulo { line-height: normal; font-size: 26px; }
.cabecalho-interno .titulo small { line-height: normal; }
.cabecalho-interno small{ display: none; }

.identificacao .email-box { margin: 0; }
.identificacao .identificacao-title { font-size: 16px; }
.identificacao .control-group .submit-email.botao.principal { position: static; max-width: 1000px; display: block; float: none; margin-top: 10px; }
.identificacao .control-group .fazer-cadastro { display: block; margin-top: 5px; }
.identificacao .control-group input { height: 20px; }
.identificacao .formulario-login { display: none; }
.identificacao .formulario-login.active { display: block; }

.carrinho-checkout .identificacao { margin: 0 0 15px; }
.carrinho-checkout .identificacao .form-horizontal .control-group { margin: 0 auto 20px; }

.tabela-carrinho, .tabela-carrinho tbody, .tabela-carrinho th, .tabela-carrinho td, .tabela-carrinho tr { display: block; }
/*.finalizar-compra .tabela-carrinho tbody tr td:nth-child(3) { display: none; }*/
.tabela-carrinho thead { display: none; }
.tabela-carrinho tr { margin: 0 0 20px; border: 1px solid #ccc; }
.tabela-carrinho form { margin: 0; }
.tabela-carrinho .form-horizontal .controls { margin: 0; }
.tabela-carrinho .form-horizontal .controls * { text-align: left; }
.tabela-carrinho .form-horizontal .control-label { width: auto; float: none; text-align: left; }
.tabela-carrinho .form-horizontal .controls input { width: 140px; }
.tabela-carrinho .quantidade a, .tabela-carrinho .excluir a { font-size: 24px; }
.tabela-carrinho label { font-size: 14px; }

.finalizar-compra .caixa-sombreada, .resumo-compra.caixa-sombreada { box-shadow: none; }
.checkout-alerta-seguro { margin: -20px auto 30px; }
.checkout-alerta-seguro .checkout-alerta-seguro-list { font-size: 11px; }

.resumo-compra a { display: inline; }
.resumo-compra .tabela-carrinho img { max-width: 90px; max-height: 90px; }
.resumo-compra .tabela-carrinho tr { overflow: hidden; }
.resumo-compra .tabela-carrinho td { padding: 10px; }
.resumo-compra .tabela-carrinho td.conteiner-preco { float: none; clear: both; text-align: right; }
.resumo-compra .tabela-carrinho td.conteiner-preco * { text-align: right; }
.resumo-compra .tabela-carrinho td.conteiner-qtd { float: right; }
.resumo-compra .tabela-carrinho td.conteiner-qtd div { font-size: 16px; padding: 5px 10px; background-color: rgba(0, 0, 0, 0.1); border-radius: 8px; }
.resumo-compra .tabela-carrinho .produto-info { width: 220px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.resumo-compra .tabela-carrinho .esconder-mobile { display: none; }

.resumo-compra .tabela-carrinho td { height: auto; }
.resumo-compra .tabela-carrinho .padding-preco * { text-align: right; }

.campos-pedido .control-label { font-size: 15px; line-height: 26px; }
.formulario-login .modal-body { padding: 0; margin: 0 0 20px; border: none; }
.formulario-login .control-label { float: none; width: auto; text-align: left; }
.formulario-login .controls { margin: 0; }

.caixa-info li { line-height: 25px; font-size: 15px; }
.caixa-info li strong { margin-right: 10px; }

.abas-conteudo { padding: 5px; }
.caixa-dados { padding: 10px; }
.abas-conta li a span { display: none; }
.outros-enderecos legend a { float: none; display: block; }

.cadastro-logar .form-horizontal .controls, .cadastro-logar .botao, .recuperar-senha { margin: 0; }
.cadastro-logar .caixa-sombreada { margin: 0 0 20px; }
.cadastro-logar .botao { display: block; margin: 10px 0 0; }
.cadastro-logar .form-horizontal .control-label { float: none; }

.form-horizontal .control-group { margin: 0 0 10px; }
.buscar-pedidos .botao { margin: 10px 0 0; }

.pedido-finalizado * { text-align: center; }
.pedido-finalizado .span12 .caixa-info * { text-align: left; }
.pedido-finalizado .cabecalho-interno .botoes-pedido a { margin: 5px 0; }
.pedido-finalizado .resumo-compra .tabela-carrinho .produto-info { width: auto; text-align: center; }
.pedido-finalizado .cabecalho-interno ul { margin: 0; }

.modal { width: auto!important; height: auto!important; margin: 0!important; position: absolute; right: 0; left: 0; }
.modal-body { max-height: 100%; }

.modal .form-horizontal .controls { margin: 0!important; }
.modal .form-horizontal input[type="text"], .modal .form-horizontal input[type="password"], .modal .form-horizontal textarea { width: 92%; }
.modal .modal-body .row-fluid [class*="span"] { margin-bottom: 20px; }

#modalContato .g-recaptcha, #modalContato .form-horizontal .politica-privacidade-group { margin: 0; }

}

@media (min-width: 479px) and (max-width: 768px) {

.hidden-phone-landscape { display: none!important; }

}

@media only screen and (max-width: 479px) {

.hidden-phone-portrait { display: none!important; }

.listagem .listagem-item .imagem-produto, .listagem .listagem-item .info-produto { float: none; width: auto; margin: 0; }
.listagem.com-caixa .listagem-item .imagem-produto { border-bottom: 5px solid rgba(0, 0, 0, 0.035); }
.listagem .listagem-item .acoes-produto-responsiva { margin: 0; }
.acoes-produto-responsiva { position: absolute; top: 43%; right: 0; }
.acoes-produto-responsiva .tag-comprar { margin: 0; }

.inferior .acoes-conta li { width: 100%; }
.inferior .acoes-conta li:first-child { display: none; }
.inferior .acoes-conta li a span { display: inline; }

.caixa-dados ul li { margin: 5px 0; }
.caixa-info li strong, .caixa-info li b { display: block; }
.caixa-dados ul li b + span + b { margin: 0; }

.dados-pessoais .caixa-sombreada { margin: 0 0 20px; }

}

.atalhos-mobile { display: block; text-align: center; border-style: solid; border-width: 0 0 5px; position: fixed; top: 0; left: 0; right: 0; z-index: 999; }
.atalhos-mobile:after { display: table; content: ""; clear: both; }
.atalhos-mobile ul { margin: 0; }
.atalhos-mobile li { float: right; line-height: 50px; border-right: 1px solid rgba(0, 0, 0, 0.2); border-left: 1px solid rgba(255, 255, 255, 0.2); }
.atalhos-mobile li:first-child { border: none; float: left; }
.atalhos-mobile li.vazia { border-left: none; }
.atalhos-mobile .icon-phone { padding: 0 10px; }
.atalhos-mobile a { font-size: 30px; padding: 0 14px; position: relative; top: 6px; text-shadow: 0 0 3px rgba(0, 0, 0, 0.3); text-decoration: none; }
.atalhos-mobile span { font-size: 14px; }

.menu-responsivo { font-size: 18px; text-align: center; line-height: 28px; background-color: rgba(0, 0, 0, 0.03); }
.menu-responsivo * { display: inline-block; }
.menu-responsivo i { margin-top: -5px; }

.menu.superior .menu-responsivo { margin: 0 0 0 53%; }

@media only screen and (min-width: 500px) {
  .menu.superior .categoria-marcas .nivel-dois.colunas-2 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
  .menu.superior .categoria-marcas .nivel-dois.colunas-3 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
  .menu.superior .categoria-marcas .nivel-dois.colunas-4 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
  .menu.superior .categoria-marcas .nivel-dois.colunas-5 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
}
@media only screen and (min-width: 700px) {
  .menu.superior .categoria-marcas .nivel-dois.colunas-2 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
  .menu.superior .categoria-marcas .nivel-dois.colunas-3 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }
  .menu.superior .categoria-marcas .nivel-dois.colunas-4 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }
  .menu.superior .categoria-marcas .nivel-dois.colunas-5 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }
}
@media only screen and (min-width: 1080px) {
  .menu.superior .categoria-marcas .nivel-dois.colunas-2 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
  .menu.superior .categoria-marcas .nivel-dois.colunas-3 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }
  .menu.superior .categoria-marcas .nivel-dois.colunas-4 { -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; }
  .menu.superior .categoria-marcas .nivel-dois.colunas-5 { -webkit-column-count: 5; -moz-column-count: 5; column-count: 5; }
}
