body {

	font-family: 'Arial'
	
	, Helvetica
	
	,sans-serif;


	
	
	
		background-position: top center;
	
	
		background-attachment: scroll;
	
	
		background-repeat: repeat;
	

}



:root {
  --cor-secundaria: #444444;
}
.cor-secundaria { color: #444444; }
.fundo-secundario { background-color: #444444; }
.borda-secundaria { border-color: #444444; }



.titulo {
	font-family: 'Open Sans'
  
  , serif;
	
	
}



#cabecalho {

	
		
		
		
		background-position: top center;
		
		
			background-repeat: repeat;
		
	
}



.barra-inicial { background-color: #444444; }




#rodape .institucional {
	
		
		
		
		background-position: top center;
		
		
			background-repeat: repeat;
		
	
}




