.main {
  width: 100%;
  margin-top: 2px;

  &__goBack {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #00000038;
    margin-top: 2em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    
    & h1 {
      font-size: 1.5em;
      font-weight: 300;
      margin-left: 5em;
    }
    & svg {
      margin-left: 0.5em;
      font-size: 4em;
      cursor: pointer;
    }

    &__order {
      align-self: center;
    }
  }
  &__section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    &__product {
      width: 28%;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 350px;
      margin-top: 1em;
      transition: 2s;

      &__container {
        height: 150px;
        text-align: center;
        &__logo {
          width: 50%;
          height: 70%;
        }
      }

      &__inf {
        margin-left: 12px;
        margin-right: 12px;
        text-align: center;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__title {
          font-size: 1em;
          font-weight: 400;
          margin: 2px;
        }
        &__lastPrice {
          font-weight: 200;
          text-decoration: line-through;
          font-size: 1em;
          margin: 0;
        }
        &__price {
          font-weight: 600;
          color: rgba(152, 15, 119, 1);
          margin: 2px;
        }
        &__button {
          width: 100%;
          cursor: pointer;
          font-size: 1.5em;
          background-color: rgba(152, 15, 119, 1);
          color: white;
          border: 1px solid rgb(109, 9, 86);
          padding: 18px 0;
          transition: 2s;
          margin-bottom: 1em;
        }
        &__button:hover {
          background-color: rgba(152, 15, 120, 0.671);
          transition: 2s;
        }
      }
    }
    &__product:hover {
      box-shadow: 0 0 1em rgba(152, 15, 119, 1);
      transition: 2s;
    }
  }
}

//-----MOBILE-----MOBILE-----MOBILE-----MOBILE-----MOBILE-----MOBILE-----

@media (max-width: 960px) {
  .main {
    &__goBack {
      & h1 {
        margin-left: 2em;
      }
    }

    &__section {
        
      &__product {
        width: 100%;
      }
    }
  }
}
